@if (isOpen) {
<div class="rq-modal-backdrop" (click)="close()">
    <div [class]="'rq-modal modal-' + size" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h3 class="modal-title">{{ title }}</h3>
            <button class="close-btn" (click)="close()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="modal-body">
            <ng-content></ng-content>
        </div>

        <div class="modal-footer">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>
}